.div-app{
    border: 5px solid blue;

    h1{
        color: darkblue;
    }
    
    &:hover{
        color: coral;
    }

}

.comp3{
    background-color: lightcyan;
    border: 3px solid cyan;
    margin: 5px;

    h2{
        text-align: center;
        color: darkcyan;
        margin: 8px;
    }

    button{
        background-color: cyan;
        border-radius: 10px;
    }
}